.custom-card{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 20px;
    padding-top: 30px;
    background-color: #e2eaff;
    color: #2b50a1;
    font-weight: 600;
}

.card-container{
    display: flex;
    margin-top: 100px;
    margin-left: 220px;
}